*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 50vh auto;
    width: 50vw;
    height: 50vw;
    display: grid ;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(5,1fr) ;
    border: solid 1px black;
}
#mdp{
    grid-column:1/4 ;
    grid-row:1/2 ;
    font-size: 2em;
    
}
.zero{
    grid-column:2/3 ;
    grid-row:5/6 ;
}
button{
    font-size:2em ;
}